# PROGRAMA SIMPLES COM DATAFRAME

## Importando biblioteca

In [7]:
import pandas as pd

## Criando DataFrame

In [8]:
df = pd.DataFrame({
    'nome':['saulo', 'luciana'],
    'ano_nasc':[1991, 1998]
})

## Procesando DataFrame

In [9]:
df['idade'] = 2019 - df['ano_nasc']

## Mostra DataFrame

In [6]:
df

      nome  ano_nasc  idade
0    saulo      1991     28
1  luciana      1998     21

# Outros processamentos

In [10]:
pd.__version__

'0.24.2'

## Outro item

### Salve galera
O comando `pd.__version__` retorna a vers√£o do Pandas 2