In [1]:
import pandas as pd
import bamboolib

In [2]:
df = pd.DataFrame({
    'a':[15, 24, 33, 45, 56, 64, 47, 48, 29], 
    'b':[61, 52, 73, 34, 33, 52, 53, 66, 84]
})

In [3]:
df

    a   b
0  15  61
1  24  52
2  33  73
3  45  34
4  56  33
5  64  52
6  47  53
7  48  66
8  29  84